<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Cloud Computing</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="public/javascripts/script.js"></script>
    <link rel="stylesheet" href="public/stylesheets/mystyle.css">
</head>
<body>
    <header>
      <h1>
        Lab 5
      </h1>
        <h1>Nguyen Van Tuan</h1>
      </div>
    </header>
     
    <section>
        <table class="tableGroup">
          <thead>
            <tr>
              <th>Distance</th>
              <th>Lux</th>
            </tr>
          </thead>
            <tbody>

            </tbody>
          </table>
    </section>
</body>
</html>